@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

body {
  background: #000;
  color: #FFF;
  -moz-user-select: -moz-none;
  -kthtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-family: 'Source Sans Pro', sans-serif, 'Verdana', 'Calibri';
  font-size: 0.85em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  display: inline;
}

p:focus {
  font-size:1.5em;
  padding: 1em;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif, 'Verdana', 'Calibri';
  font-size: 1.4em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  text-decoration: underline;
  text-decoration-style: double;
  text-rendering: optimizeLegibility;
}

h1:focus {
  font-size: 2em;
  text-decoration-style: solid;
  padding: 1em;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif, 'Verdana', 'Calibri';
  font-size: 1.2em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  text-decoration: underline;
  font-style:italic;
  text-rendering: optimizeLegibility;
}

h2:focus {
  font-size: 1.85em;
  font-style:unset;
  padding: 1em;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif, 'Verdana', 'Calibri';
  font-size: 1em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  font-style:italic;
  text-rendering: optimizeLegibility;
}

h3:focus {
  font-size: 1.75em;
  font-style: unset;
  text-decoration: underline;
  padding: 1em;
}

small {
  font-family: 'Source Sans Pro', sans-serif, 'Verdana', 'Calibri';
  font-size: 0.8em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  text-rendering: optimizeLegibility;
}

small:focus {
  font-size: 1.8em;
  padding: 1em;
}
