@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
}

p {
  font-family: 'Open Sans', sans-serif, 'Verdana', 'Calibri';
  font-size: 0.75em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  display: inline;
}

p:focus {
  font-size:1.5em;
}

h1 {
  font-family: 'Open Sans', sans-serif, 'Verdana', 'Calibri';
  font-size: 1.4em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

h1:focus {
  font-size: 2em;
}

h2 {
  font-family: 'Open Sans', sans-serif, 'Verdana', 'Calibri';
  font-size: 1.2em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

h2:focus {
  font-size: 1.85em;
}

h3 {
  font-family: 'Open Sans', sans-serif, 'Verdana', 'Calibri';
  font-size: 1em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

h3:focus {
  font-size: 1.75em;
}

small {
  font-family: 'Open Sans', sans-serif, 'Verdana', 'Calibri';
  font-size: 0.8em;
  -o-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -webkit-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
}

small:focus {
  font-size: 1.2em;
  font-weight: 900;
}
